body {
  margin: 0;
}

.pageSizer {
  min-width: 768px;
  max-width: 1100px;
  width: 85%;
  padding: 40px 100px 80px 100px;
  margin: auto;
}

.cell__container {
  margin-top: 25px;
  padding: 0px;
  position: relative;
}

/* ///////////////////// Widgets ////////////// */

.widget__error {
  background-color: #fdeeee;
  color: #eb5656;
  overflow: hidden;
}
.widget__error-lg {
  position: relative;
  left: 28px;
  width: calc(100% - 30px);
  height: 2em;
  display: flex;
  align-items: center;
  margin-left: -8px;
}
.widget__error-icon {
  display: inline-block;
  background-color: #eb5656;
  margin-right: 1px;
  height: 100%;
}
.widget__error-icon-1 {
  width: 6px;
}
.widget__error-icon {
  width: 2px;
}
.widget__error-content {
  padding-left: 6px;
}

.widget__value {
  color: #868e96;
}

.widget__stdout {
  color: #495057;
  background-color: #e9ecef;
  white-space: pre;
}
/* \\\\\\\\\\\\\\\\\\\\\ Wdigets \\\\\\\\\\\\\ */
